In [2]:
import json
import pandas as pd
from sqlalchemy import create_engine, MetaData, Table, Column, Integer, JSON
from sqlalchemy import event
from sqlalchemy import inspect

with open('user_data.json', 'r') as f:
        user_data = json.load(f)
        
conn_string = 'mysql+pymysql://{user}:{password}@{host}:{port}/{db}?charset={encoding}'.format(
    user='morse_coders', 
    password='/TCcKNCzR2k=', 
    host = 'jsedocc7.scrc.nyu.edu', 
    port     = 3306, 
    encoding = 'utf8',
    db = 'morse_coders'
)
engine = create_engine(conn_string)

"""
Functions for the back end with the professors database
"""

# Function sho_tables for showing all the tables in the database 
def show_tables(engine):
        inspector = inspect(engine)
        schemas = inspector.get_schema_names()
        for schema in schemas:
                print("schema: %s" % schema)
                for table_name in inspector.get_table_names(schema=schema):
                        print(table_name)
                        
                        
"""
_______________________
"""

try:    
        metadata = MetaData()
        table_name = Table('inspections_3', metadata, autoload=True, autoload_with=engine)

        table_name.drop(engine)
except: 
        print('already dropped')

show_tables(engine)

# print(user_data)
with engine.connect() as conn:
    results = conn.execute("SELECT * FROM users").fetchall()
    for row in results:
        print(row)

already dropped
schema: information_schema
schema: morse_coders
courses
defense_df
goalkeep_df
joint_player_data_salaries
offense_df
players_df
players_salaries_df
salary_goal_df
security_questions
users
(1, 'abc1234')
(12, 'abc2345')
(3, 'def2345')
(13, 'def3456')
(4, 'ghi3456')
(14, 'ghi4567')
(5, 'jkl4567')
(15, 'jkl5678')
(6, 'mno5678')
(16, 'mno6789')
(20, 'msa8779')
(7, 'pqr6789')
(17, 'pqr7890')
(8, 'stu7890')
(18, 'stu8901')
(9, 'vwx8901')
(19, 'vwx9012')
(10, 'wxy9012')
(11, 'yz0123')

In [10]:
query = '''
SELECT * FROM feedback
'''
table = pd.read_sql(query, con=engine)

In [11]:
table.head()

   id           feedback           timestamp
0   1      This is great 2023-04-11 17:00:17
1   2  This is great too 2023-04-11 17:04:49
2   3   another feedback 2023-04-11 17:06:05